body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
    flex: 1;
}


.d-none {
    display: none;
}


.img-container {
    overflow: hidden;
}


.img-container:hover {
    box-shadow: -2px -2px 6px 4px lightgray;
    cursor: pointer;
}


.img-container img {
    height: 40vh;
    width: 400px;
    object-fit: cover;
    transition: scale 100ms ease-in-out 50ms;
}


.img-container img:hover {
    scale: 1.2;
}

.current-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex: 1 1 auto;
    /* background-color: rgba(0, 0, 0, 0.2); */
}


.current-img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;

}

.current-img-arrows {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
}

.current-img-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.current-img-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: gray;
    border: none;
    padding: 8px;
    font-size: 64px;
    cursor: pointer;
    transition: background-color 50ms ease-in-out, color 100ms linear;
}

.current-img-button button:hover {
    background-color: rgba(128, 128, 128, 0.8);
    color: lightgray;
}

.arrow {
    width: 10%;
    border-radius: 40px;
    transition: background-color 150ms ease-in-out;
}

.arrow:hover {
    cursor: pointer;
    box-shadow: 8px 8px 8px 8px lightgray;
    background-color: gray;
}

.current-img {
    object-fit: contain;
    scale: 1.0;
    height: auto;
    width: 100%;
    max-height: 690px;
}


.small-current-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100vh;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
}


.small-current-img-container div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

@media(max-width: 1070px) {
    .current-img{
        object-fit: cover;
    }
}

@media(max-width: 940px) {
    .arrow {
        width: 24%;
    }
}

@media(max-width: 800px) {
    .current-img-arrows {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .current-img-container {
        flex-direction: column;
    }
}

@media(max-width: 430px) {
    .img-container img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }

}