<nav>
    <div class="burger-icon" id="burger-menu">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <div class="header-headline-container">
        <img src="./assets/img/photo-gallery-icon.png" alt="photo gallery icon">
        <h2>Photo Gallery</h2>
    </div>
    <div class="input">
        <img src="./assets/img/magnifying-glass.png" alt="Magnifying Glass Image">
        <input type="text" placeholder="Suchen...">
    </div>
</nav>